html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.page-container{
    display: flex;
}


.image-container{
    background-color: black;
    height: 100vh;
    width: 25vw;
}

.logo-div{
    position: absolute;
    height: 20vh;
    width: 25vw;
    top: 20vh;
    background-color: white;
}

.form-page-container{
    display: flex;
    flex-direction: column;
}

.description-div{
    height: 30vh;
    width: 75vw;
    background-color: white;
}

.form-div{
    height: 40vh;
    width: 75vw;
    background-color: black;
}

.account-div{
    height: 30vh;
    width: 75vw;
    background-color: white;
}
